<div class="header">
  <h1 class="page-header">
    {{isUpdate ? "Update Product Details": "Add New Product"}}
  </h1>
</div>
<div id="page-inner">
  <div class="row">
    <div class="col-md-12">
      <!-- Advanced Tables -->
      <div class="card">
        <div class="card-content">
          <h2 class="h2_form">Product Management </h2>
          <form style="font-size: 13px;" *ngIf="!isSuccessful" name="form" (ngSubmit)="onSubmit()"
            #f="ngForm" novalidate>

            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
              Error:<br />{{ errorMessage }}
            </div>
            <div class="alert alert-success" *ngIf="isSuccessful">
              {{isUpdate ? "Asesor Actualizado": "Asesor Agregado"}}
            </div>

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Select Category</label>
              <div class="col-sm-5">
                <select style="height: 40px;" type="text" class="form-control" name="product_category_id"
                  [(ngModel)]="form.product_category_id" #product_category_id="ngModel" [value]="product.product_category_id"
                  required>
                  <option value="0">Please Select</option>
                  <option *ngFor='let type of type' [value]="type.category_id">
                    {{type.category_name}}
                  </option>
                </select>
              </div>
              <div class="alert-danger col-sm-3" *ngIf="f.submitted && product_category_id.invalid">
                <div *ngIf="product_category_id.errors.required">Select Product Type</div>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Product Title</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="product_title" [(ngModel)]="form.product_title"
                  #product_title="ngModel" [value]="product.product_title" placeholder="Enter Product Title">
              </div>
           
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Cost Per Item</label>
              <div class="col-sm-5">
                <input type="number" class="form-control" name="product_price_per_item"
                  [(ngModel)]="form.product_price_per_item" #product_price_per_item="ngModel"
                  [value]="product.product_price_per_item" placeholder="Enter Price Per Unit" required>
              </div>
            
            </div>

            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
              <div class="col-sm-5">
                <textarea style="height: 100px;" class="form-control" name="product_description"
                  [(ngModel)]="form.product_description" #product_price_per_item="ngModel"
                  [value]="product.product_description" placeholder="Enter Desription About the Product"
                  required></textarea>
              </div>
              
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 col-form-label">&nbsp;</label>
              <button class="btn btn-primary btn-block col-sm-5">{{isUpdate ? "Update Product": "Save
                Product"}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>